<div align="center">
	<h3>Quiz</h3>
</div>
<%= form_tag(save_quiz_answers_path, :id => "quizform", :method => "POST") do %>
<section class="demo">
	<div class="container">
		<%@questions.each do |question|%>
		<% ques = question[1].select {|n| n["ref"].to_i == 0 } %>
		<% options = question[1].select {|n| n["ref"].to_i != 0 } %>
		<div>
			<p>
			</p>
			<h3 align="left"><b><%= ques[0]["data"] %></b></h3>
			<ul class="que-ans">
			<% options.each do |opt| %>
				<li>
					<h3><%= radio_button_tag("question_#{opt['qid']}", opt["ref"].to_i,checked =false, :class=>'question-label') %><%= label_tag(opt["qid"], opt["data"],:class=>'ans-label') %></h3>
				</li>
			
			<% end %>
			</ul>
		</div>
		<% end %>
	</div>
</section>
 <button class="next" type="button">Next</button>
  <div class="save_button">
    <%= submit_tag "Next", :id => "submitbutton" %>
  </div>
<% end %>
<%= render :partial => "shared/controllerinfo" %>

<script src='/jquery-2.0.3.min.js'></script>
<script type="text/javascript">
var currentIndex = 0;
items = $('.container div');
itemAmt = items.length;
$('.save_button').hide();
</script>

<style>
input[type="submit"],.next {
border-radius: 5px;
border: 0;
width: 100px;
height:40px;
width: 100px;
height: 40px;
color: green;
/*#margin-top: 28px;
#margin-left: 551px;*/
margin: 1% 45%
}
</style>