<h3><div>Quiz </div></h3>
<%= form_tag(save_quiz_answers_path, :method => "POST") do %>
  <section class="demo">
    <div class="container">
      <%@questions.each do |question|%>
      <%#raise question[1].inspect%>
        <% ques = question[1].select {|n| n["ref"].to_i == 0 } %>
        <% options = question[1].select {|n| n["ref"].to_i != 0 } %>
        <div >
          <p>Question</p>
          <br />
          <%= ques[0]["data"] %><br />
          <% options.each do |opt| %>
            <%= radio_button_tag("question_#{opt['qid']}", opt["ref"].to_i) %> <%= label_tag(opt["qid"], opt["data"]) %> <br />
          <% end %>
          <br />
        </div>
      <% end %>
    </div>
  </section>
  <button class="next" type="button">Next</button>
  <div class="save_button">
    <%= submit_tag "Save" %>
  </div>
<% end %>

<script type="text/javascript">
var currentIndex = 0;
  items = $('.container div');
  itemAmt = items.length;
 </script>