<div>Quiz </div>
<%= form_tag(save_quiz_answers_path, :method => "POST") do %>
  <section class="demo">
    <div class="container">
      <%@questions.each do |question|%>
      <%#raise question[1].inspect%>
        <% ques = question[1].select {|n| n["ref"].to_i == 0 } %>
        <% options = question[1].select {|n| n["ref"].to_i != 0 } %>
        <div >
          <p>Question</p>
          <br />
          <%= ques[0]["data"] %><br />
          <% options.each do |opt| %>
            <%= radio_button_tag("answer_#{opt['qid']}", opt["ref"].to_i) %> <%= label_tag(opt["qid"], opt["data"]) %> <br />
          <% end %>
          <br />
        </div>
      <% end %>
    </div>
  </section>
  <button class="next" type="button">Next</button>
  <div>
    <%= submit_tag "Save" %>
  </div>
<% end %>



<style type="text/css">
  .container {
    max-width: 400px;
    background-color: black;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
  .container div {
    background-color: white;
    width: 100%;
    display: inline-block;
    display: none;
  }
  .container img {
    width: 100%;
    height: auto;
  }

  button {
    position: absolute;
  }

  .next {
    left: 650px;
  }

  .prev {
    left: 5px;
  }
</style>
<script type="text/javascript">

  var currentIndex = -1;
  items = $('.container div');
  itemAmt = items.length;

  function cycleItems() {
    var item = $('.container div').eq(currentIndex);
    items.hide();
    item.css('display','inline-block');
  }

<%#*var autoSlide = setInterval(function() {%>
<%#*currentIndex += 1;%>
<%#*if (currentIndex > itemAmt - 1) {%>
<%#*currentIndex = 0;%>
<%#*}%>
<%#*cycleItems();%>
<%#*}, 3000);%>

  $('.next').click(function() {
<%#*clearInterval(autoSlide);%>
    currentIndex += 1;
    if (currentIndex > itemAmt - 1) {
      currentIndex = 0;
    }
    cycleItems();
  });

<%#*$('.prev').click(function() {%>
<%#*clearInterval(autoSlide);%>
<%#*currentIndex -= 1;%>
<%#*if (currentIndex < 0) {%>
<%#*currentIndex = itemAmt - 1;%>
<%#*}%>
<%#*cycleItems();%>
<%#*});%>
</script>