<div id="control_dashboard" >
<%= render :partial => 'users'%>
</div>
<%= render :partial => "datafilesbutton" %>
<table>
  <div id="quizdatabox">
    <div id="quizdatalabel"></div>
    <div id="quizdatabutton" type="button" value="Upload Quiz data" />
  </div>
</table>
</br></br></br>
<table>
  <%= link_to "click here ", export_sample_csv_path  %> <b>to download file to upload your questions</b>
</table>



<!--div class="container">
  <h2>Bootstrap 3.1.0 - Modal Demo</h2>

  <div class="row text-center">
      <h3>The Basic Modal</h3>
      <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#quizdata">Click to open Modal</a>
  </div>
</div-->

</br></br></br>
<b><h3>Upload File</h3></b>
<%= form_tag 'upload', { :multipart => true } do %>
    <p>
    <%= file_field_tag 'upload[file]' %>
    </p>
    <p>
    	<%= submit_tag "Upload" %>
    </p>
<% end %>



<script type="text/javascript">
  $("#timevalue").html(<%= $gConfigData.time %>);
  $((function () {
    $("#timebutton").click(function(){
      var currentvalue = $("#timevalue").html();
      var answer = prompt("Enter new time",currentvalue);
      if(answer != null){
        answer = jQuery.trim(answer);
        if(answer != currentvalue){
          changetime(answer);
        }
      }
    });
  })
);


$("#uservalue").html(<%= $gUserLimitData.limit %>);
  $((function () {
    $("#userlimitbutton").click(function(){
      var currentvalue = $("#uservalue").html();
      var answer = prompt("Enter new Value",currentvalue);
      if(answer != null && answer <=24){
        answer = jQuery.trim(answer);
        if(answer != currentvalue){
          changeuserlimits(answer);
        }
      }
      else
      {
      	alert("Please enter Valid input amount.. i.e < 24")
      }
    });
  })
);


  function changetime(newtime){
    var time = newtime;
    values = "time=" + time;
    $.ajax({
      url: "/changetime",
      data: values,
      type: 'get',
      success: function(html){
        $("#timevalue").html(newtime);
      }
    });
  }
  
  function changeuserlimits(newlimit){
    var limit = newlimit;
    values = "limit=" + limit;
    $.ajax({
      url: "/changelimit",
      data: values,
      type: 'get',
      success: function(html){
        $("#uservalue").html(newlimit);
      }
    });
  }

</script>

<%= render :partial => "popup" %>
