<table>
	<tr>
		<td>
<div id="control_dashboard" >
<%= render :partial => 'users'%>
</div>
<table>
  <div id="quizdatabox">
    <div id="quizdatalabel"></div>
    <div id="quizdatabutton" type="button" value="Upload Quiz data" />
  </div>
</table>
</br></br></br>
</td>
<td>
	<div id="upload">
  <%= link_to "click here ", export_sample_csv_path  %> <b>to download file to upload your questions</b>

</br></br></br>
<b><h3>Upload Your Questions Here!</h3></b>
<%= form_tag 'upload', { :multipart => true } do %>
    <p>
    <%= file_field_tag 'upload[file]' %>
    </p>
    <p id="submit">
    	<%= submit_tag "Upload" %>
    </p>
<% end %>
</div>
</td>
</tr>
</table>



<script type="text/javascript">
  $("#timevalue").html(<%= $gConfigData.time %>);
  $((function () {
    $("#timebutton").click(function(){
      var currentvalue = $("#timevalue").html();
      var answer = prompt("Enter new time",currentvalue);
      if(answer != null){
        answer = jQuery.trim(answer);
        if(answer != currentvalue){
          changetime(answer);
        }
      }
    });
  })
);


$("#uservalue").html(<%= $gUserLimitData.limit %>);
  $((function () {
    $("#userlimitbutton").click(function(){
      var currentvalue = $("#uservalue").html();
      var answer = prompt("Enter new Value",currentvalue);
      answer = jQuery.trim(answer);
      if(answer != '' && answer <=24 && answer>=0){
        if(answer != currentvalue){
          changeuserlimits(answer);
        }
      }
      else
      {
      	alert("Please enter Valid input amount.. i.e 1 to 24")
      }
    });
  })
);


  function changetime(newtime){
    var time = newtime;
    values = "time=" + time;
    $.ajax({
      url: "/changetime",
      data: values,
      type: 'get',
      success: function(html){
        $("#timevalue").html(newtime);
      }
    });
  }
  
  function changeuserlimits(newlimit){
    var limit = newlimit;
    values = "limit=" + limit;
    $.ajax({
      url: "/changelimit",
      data: values,
      type: 'get',
      success: function(html){
        $("#uservalue").html(newlimit);
      }
    });
  }

</script>

<%= render :partial => "popup" %>
