<table>
	<tr>
		<td>
<div id="control_dashboard" >
<%= render :partial => 'users'%>
</div>
<%=hidden_field 'user','limit',:value=>$user_count%>
<table>
  <div id="quizdatabox">
    <div id="quizdatalabel"></div>
    <div id="quizdatabutton" type="button" value="Upload Quiz data" />
  </div>
</table>
</br></br></br>
</td>
<td>
	<div id="upload">
<b><h3>Upload Your Questions Here!</h3></b>
<%= form_tag 'upload', { :multipart => true } do %>
    <p>
    <%= file_field_tag 'upload[file]' %>
    </p>
    <p id="submit">
    	<%= submit_tag "Upload" %>
    </p>
<% end %>
</br></br>
<%= link_to "click here ", export_sample_csv_path  %> <b>to download sample questions file</b>
</div>
</td>
</tr>
</table>



<script type="text/javascript">
  $("#timevalue").html("<b>Time:- </b><span id=timecount>" + <%= $gConfigData.time %>+"</span>");
  $((function () {
    $("#timebutton").click(function(){
      var currentvalue = $("#timecount").html();
      var answer = prompt("Enter new time",currentvalue);
      if(answer != null){
        answer = jQuery.trim(answer);
        if(answer != currentvalue){
          changetime(answer);
        }
      }
    });
  })
);

$("#uservalue").html("<b>No of users:- </b><span id=usercount>" + <%= $gUserLimitData.limit.nil? ? 2 :  $gUserLimitData.limit%>+ "</span>");
  $((function () {
    $("#userlimitbutton").click(function(){
      var currentvalue = $("#usercount").html();
      var answer = prompt("Enter new Value",currentvalue);
      answer = jQuery.trim(answer);
      if(answer != '' && answer <=24 && answer>=0){
        if(answer != currentvalue){
          changeuserlimits(answer);
        }
      }
      else
      {
      	alert("Please enter Valid input.. i.e 1 to 24")
      }
    });
  })
);


  function changetime(newtime){
    var time = newtime;
    values = "time=" + time;
    $.ajax({
      url: "/changetime",
      data: values,
      type: 'get',
      success: function(html){
        $("#timevalue").html("<b>Time:- </b><span id=timecount>" +newtime+"</span>");
      }
    });
  }
  
  function changeuserlimits(newlimit){
    var limit = newlimit;
    values = "limit=" + limit;
    $.ajax({
      url: "/changelimit",
      data: values,
      type: 'get',
      success: function(html){
        $("#uservalue").html("<b>No of users:- </b><span id=usercount>"+newlimit+"</span>");
        if (newlimit == $("#user_limit").val()){
    	  $("#enable").removeAttr("disabled");
         }
      }
    });
  }

</script>

<style>
	input[type="submit"] {
		 border-radius: 5px;
    border: 0;
    width: 100px;
    height:40px;
    width: 100px;
 	height: 40px;
 	color: green;
 	margin-top: 28px;
 	margin-left: 1px;
	}
</style>

<%= render :partial => "popup" %>
