<link href="/survey.css" rel="stylesheet" type="text/css" media="all"/>
	<div class="main-container">
			<div class="header-container">
			<p>The following scale consist of number of words that describe different feelings and emotions.Read each item and then mark the appropriate answer in the space next to that word. Indicate to what extent the experiment in which you participated made you feel</p><br/>
			
			<p>Use the following scale to record your answers</p><br/>
			<p>(1)Very Slightly or not at all,(2) a little,(3) moderately,(4)quite a bit,(5)extremely</p> 
			
			</div>
			<table>
			<%i=0%>
		      <%@survey.each do |survey|%>
		      <%i+=1%>
		      <%if i%2 == 1%>
		      <tr>
		      <%end%>
				<td><%=survey%></td>
				<td>
				<label>1</label>
				<input type="radio" id=<%="very_slightly_#{i}"%> title="Very Slightly" value="1" name=<%="user_#{i}_option"%>><label for="user_option" class="light"></label>
        		<input type="radio" id=<%="little_#{i}"%> title="Little" value="2" name=<%="user_#{i}_option"%>><label for="user_option" class="light"></label>
        		<input type="radio" id=<%="moderately_#{i}"%> title="Moderately" value="3" name=<%="user_#{i}_option"%>><label for="user_option" class="light"></label>
        		<input type="radio" id=<%="quite_a_bity_#{i}"%> title="Quite a bit" value="4" name=<%="user_#{i}_option"%>><label for="user_option" class="light"></label>
        		<input type="radio" id=<%="extremely_#{i}"%> title="Extremely" value="5" name=<%="user_#{i}_option"%>><label for="user_option" class="light"></label>
				<label>5</label>
				</td>
				<%if i % 2 ==0%>
			  </tr>
			  <%end%>
		      <%end%>
			</table>
			
			<div class="footer-area">
			<button class="submit" id="okbutton"  value="submit" type="button">OK</button>
			
			</div>
			
			
			
    </div>
<% @current_controller = "survey" %>
<%= render :partial => "shared/controllerinfo" %>
