<div class="row">
<div class="col-md-12">
	<!--div class="cli_when_ready text-center">
	<button class="results" value="results" type="button">Click when ready to see results</button>
	</div-->
<h1 class="score text-center" disabled="disabled">
	<%= "Your payoff is #{session[$round].to_i}"%>
</h1>
<%if @flag!="exit_poll"%>
<h3 class="alert text-center" disabled="disabled">
	<%= "Please sit up straight and keep your hands away from your face. When you are ready to view your results click the button below."%>
</h3>

<div class="click_when_ready text-center col-md-9">
	<button class="results" value="results" type="button"><h3>I'm ready, show me the results</h3></button>
</div>
<%end%>

<%=hidden_field 'com','from',:value=>@from%>
<%=hidden_field 'exit','flag',:value=>@flag%>
<div class="exit_button">
	<button class="exit" value="exit" type="button">Exit Now</button>
</div> 

<div class="survey text-center" id="survey">
	<%= render :partial => 'emotion_survey' %>
	<%=hidden_field 'survey','length',:value=>@survey.length%>
	<!--%i=0%>
	<%#@survey.each do |survey|%>
	<%#i+=1%>
    	<h2><%#=survey%></h2>
    	<input type="radio" id="strongly_agree" value="Strongly Agree" name=<%#="user_#{i}_option"%>><label for="user_option" class="light">Strongly Agree</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" id="agree" value="Agree" name=<%#="user_#{i}_option"%>><label for="user_option" class="light">Agree</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" id="disagree" value="Disagree" name=<%#="user_#{i}_option"%>><label for="user_option" class="light">Disagree</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" id="strongly_disagree" value="Strongly Disagree" name=<%#="user_#{i}_option"%>><label for="user_option" class="light">Strongly Disagree</label>&nbsp;&nbsp;&nbsp;&nbsp;</br></br>
   <%#end%>
   <button class="submit" value="submit" type="button">Continue</button!-->
    </div>
</div>
</div>
<script src='/jquery-2.0.3.min.js'></script>
<script>
	$('button').click(function() {
       $('.score').show();
	   $('.exit_button').show();
	   $('.results').hide();
	});
	
	$(document).ready(function(){
	$('.score').hide();
	$('.exit_button').hide();
	if($('#com_from').val()=="vdo"){
	        $('.results').hide();
	        $('.score').show();
	        $('.click_when_ready').hide();
	        $('.alert').hide();
		}
		else if($('#exit_flag').val()=="exit_poll"){
	       $('.score').hide();
	       $('.results').hide();
	       $('.exit_button').show();
	       $('.survey').hide();		
		}
});
</script>
<style>
.submit {
	border-radius: 5px;
	border: 0;
	width: 100px;
	height: 40px;
	width: 100px;
	height: 40px;
	color: blue;
	margin-top: 35px;
	margin-left: -53px;
}
</style>
