<div class="row">
<div class="col-md-12">
	<!--div class="cli_when_ready text-center">
	<button class="results" value="results" type="button">Click when ready to see results</button>
	</div-->
<!--h1 class="score text-center" disabled="disabled">
	<%= "Your payoff is #{session[$round].to_i}"%>
</h1-->
<%if @flag!="exit_poll"%>
<h3 class="alert text-center container2" style="font-size: 36px" disabled="disabled">
	<%= "Please sit up straight and keep your hands away from your face. When you are ready to view your results click the button below."%>
</h3>

<div class="click_when_ready text-center col-md-8">
	<button id="readytosee" class="results" value="results" type="button"><h3 style="font-size: 24px">I'm ready, show me the results</h3></button>
</div>
<%end%>

<%=hidden_field 'com','from',:value=>@from%>
<%=hidden_field 'exit','flag',:value=>@flag%>

<div class="survey text-center" id="survey" disabled="disabled">
	<%= render :partial => 'emotion_survey' %>
	<%=hidden_field 'survey','length',:value=>@survey.length%>
    </div>
</div>
</div>
<% @current_controller = "results" %>
<%= render :partial => "shared/controllerinfo" %>

<script src='/jquery-2.0.3.min.js'></script>
<script>
$('.survey').hide();
	$('button').click(function() {
       $('.score').show();
	   $('.results').hide();
	});
	
	$(document).ready(function(){
	$('.score').hide();
	if($('#com_from').val()=="vdo"){
	        $('.results').hide();
	        $('.score').show();
	        $('.click_when_ready').hide();
	        $('.alert').hide();
		}
		else if($('#exit_flag').val()=="exit_poll"){
	       $('.score').hide();
	       $('.results').hide();
	       $('.survey').hide();		
		}
});
</script>
<style>
.submit {
	border-radius: 5px;
	border: 0;
	width: 100px;
	height: 40px;
	width: 100px;
	height: 40px;
	color: blue;
	margin-top: 10px;
	margin-left: -53px;
}
</style>
