<!DOCTYPE html>
<html>
<head>
  <title>Predictability Experiment</title>
  <%= stylesheet_link_tag  'application', 'control',  media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery', 'data-turbolinks-track' => true %>
  <%#= stylesheet_link_tag  'application', "bootstrap", "bootstrap.min", media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', "jquery_v1.11.2", "bootstrap", "bootstrap.min", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<%if request.url.split("/").include?("control")%>
	  	<div class="col-md-8 col-md-offset-2 text-center header">
	    	<h3>PredictiveExperiment</h3>
	   	</div>
	   	<%end%>
	</div>
	<div class="col-md-2 col-md-offset-9  pull-left">
		  	 <%if session[:computerid]%>
		  	<%="User : #{session[:computerid]}"%></br>
		  	<%="Round : #{$round}"%>
		  	<%end%>
	  </div>
  
</div>
<%= yield %>

<%= render :partial => "shared/controllerinfo" %>


<%= javascript_include_tag 'application', 'recordrtc', 'data-turbolinks-track' => true %>
</body>
</html>
<style>
body {
    background-color: #FFFFE0;
} 
</style>
